@import "~normalize.css";
@import "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Sen:wght@400;700&display=swap");

*,
*:before,
*:after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
}

html {
	box-sizing: border-box;
	margin: 0;
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	background: #fff;
}

.nav {
	width: 100vw;
	position: sticky;
	top: 0;
	background-color: #fff;
	margin-bottom: 126px;
	&__wrapper {
		height: 70px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 135px;
		max-width: 1440px;
		@media screen and (max-width: 1024px) {
			padding: 0 16px;
		}
	}
	&__logo {
		height: 39px;
		@media screen and (max-width: 425px) {
			height: 22px;
		}
	}
	&__links {
		display: flex;
		justify-content: space-between;
		width: 217px;
		@media screen and (max-width: 425px) {
			width: 183px;
		}
	}
	&__btn {
		position: relative;
		font-family: Sen, sans-serif;
		font-weight: 400;
		color: $blue2;
		line-height: 19px;
		display: inline-block;
		&:after {
			content: "";
			position: absolute;
			width: 125%;
			transform: scaleX(0);
			height: 2px;
			bottom: -6px;
			left: -12.5%;
			background-color: $blue7;
			transform-origin: right;
			transition: transform 0.25s ease-out;
		}
		&:focus:after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}

.header {
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 135px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 0 30px;
	border: 1px solid green;
	&__wrapper {
		margin-top: 80px;
		grid-column: 1 / 7;
	}
	&__vidbox {
		position: relative;
		grid-column-start: 8;
	}
	&__video {
		position: absolute;
		left: 0;
		width: 544px;
	}
	&__social {
		position: fixed;
		right: 0;
	}
}

.bg {
	position: absolute;
	margin: 0 auto;
	top: 0;
	z-index: -100;
	&__img {
		width: 100vw;
		@media screen and (max-width: 1024px) {
			position: absolute;
			left: 0;
			right: 0;
		}
	}
}
