@import "~normalize.css";
@import "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Sen:wght@400;700&display=swap");

*,
*:before,
*:after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
}

html {
	box-sizing: border-box;
	margin: 0;
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	background: #fff;
}
main {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 135px;
}
.nav {
	width: 100vw;
	position: sticky;
	top: 0;
	background-color: #fff;
	margin-bottom: 126px;
	&__wrapper {
		height: 70px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 135px;
		max-width: 1440px;
		@media screen and (max-width: 1024px) {
			padding: 0 16px;
		}
	}
	&__logo {
		height: 39px;
		@media screen and (max-width: 425px) {
			height: 22px;
		}
	}
	&__links {
		display: flex;
		justify-content: space-between;
		width: 217px;
		@media screen and (max-width: 425px) {
			width: 183px;
		}
	}
	&__btn {
		position: relative;
		font-family: Sen, sans-serif;
		font-weight: 400;
		color: $blue2;
		line-height: 19px;
		display: inline-block;
		&:after {
			content: "";
			position: absolute;
			width: 125%;
			transform: scaleX(0);
			height: 2px;
			bottom: -6px;
			left: -12.5%;
			background-color: $blue7;
			transform-origin: right;
			transition: transform 0.25s ease-out;
		}
		&:focus:after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}

.header {
	max-width: 1440px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 0 30px;
	&__wrapper {
		margin-top: 80px;
		grid-column: 1 / 7;
	}
	&__title {
		font-family: Sen, sans-serif;
		font-size: 40px;
		line-height: 56px;
		color: #fff;
		margin: 0 0 71px;
		letter-spacing: 0.2px;
	}
	&__form {
	}
	&__label {
		display: block;
		line-height: 26px;
		font-family: Sen, sans-serif;
		font-weight: 400;
		font-size: 18px;
		color: #fff;
		opacity: 0.7;
		margin: 3px 0 18px 1px;
	}
	&__input {
		position: relative;
		&--bg {
			position: absolute;
			left: 0;
			width: 100%;
			border-radius: 25px;
			background-color: #fff;
			height: 46px;
		}
	}
	&__email {
		border: none;
		position: absolute;
		margin: 12px auto 14px 20px;
		width: 60%;
		border: none;
		&::placeholder {
			font-size: 17px;
			font-family: Sen, sans-serif;
			color: $gray1;
		}
		&:-webkit-autofill {
			background-color: #fff;
		}
	}
	&__submit {
		position: absolute;
		right: 0;
	}
	&__vidbox {
		position: relative;
		grid-column-start: 8;
	}
	&__video {
		position: absolute;
		left: 0;
		width: 544px;
	}
	&__social {
		position: fixed;
		right: 0;
	}
}

.bg {
	position: absolute;
	margin: 0 auto;
	top: 0;
	z-index: -100;
	&__img {
		width: 100vw;
		@media screen and (max-width: 1024px) {
			position: absolute;
			left: 0;
			right: 0;
		}
	}
}

.btn {
	height: 46px;
	background-color: $light1;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	border: none;
	border-radius: 23px;
	cursor: pointer;
	&__submit {
		padding: 11px 37px;
		font-size: 17px;
		border-radius: 25px;
	}
	&__send {
		padding: 12px 28px;
	}
	&__read {
		padding: 12px 37px 12px 49px;
	}
}
