@import "~normalize.css";
@import "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Sen:wght@400;700&display=swap");

*,
*:before,
*:after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
	font-size: 16px;
}

html {
	box-sizing: border-box;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	background: #fff;
}

main {
	max-width: 1440px;
	margin: 0 auto;
	border: 1px solid red;
}
.nav {
	border: 1px solid green;
	padding: 0 135px;
	height: 70px;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	&__logo {
		height: 39px;
	}
	&__links {
		display: flex;
		justify-content: space-between;
		width: 217px;
	}
	&__btn {
		font-family: Sen, sans-serif;
		font-weight: 400;
		color: #1c2085;
	}
}
