$dark-gray: #45515f;
$gray1: #576677;
$gray2: #7f8b98;
$gray2op: #7f8b984d;
$gray3: #979797;
$light-gray: #e7e7e7;

$linear: linear-gradient(#3847b5, #253194);

$dark1: #011226;
$dark1op: #01122680;
$dark2: #001832;
$blue1: #1c1f83;
$blue2: #1c2085;
$blue3: #263396;
$blue4: #3543ae;
$blue5: #3947b6;
$blue6: #4250bf;
$blue7: #5454d4;

$light1: #38a5db;
$light2: #63c7ff;

$blue-op: rgba(0, 151, 255, 0.3613);

$orange: #f15a29;

$overlay: #252b4280;
