$top-a: #1c2085;
$top-b: #263396;
$top-c: #5454d4;
$stroke-a: #979797;
$stroke-b: #576677;
$bg-a: linear-gradient(#3847b5, #253194);
$bg-b: #3947b6;
$bg-c: #4250bf;
$head-a: #3543ae;
$head-b: #38a5db;
$head-c: #e7e7e7;
$social: #63c7ff;
$vid-a: #38a5db;
$vid-b: #f15a29;
$vid-c: rgba(0, 151, 255, 0.3613);
$team-a: #001832;
$team-b: #7f8b98;
$team-c: #011226;
$team-d: #38a5db;
$team-e: #45515f;
$team-f: #1c1f83;
